<%= form_with(model: class_cal, local: true) do |form| %>
  <% if class_cal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(class_cal.errors.count, "error") %> prohibited this class_cal from being saved:</h2>

      <ul>
      <% class_cal.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :class_cal_name %>
  </div>

  <div class="field">
    <%= form.label :start_time %>
    <%= form.text_field :start_time, id: :class_cal_start_time %>
  </div>

  <div class="field">
    <%= form.label :end_time %>
    <%= form.text_field :end_time, id: :class_cal_end_time %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
