<div class="container-fluid bkrd">
  <div class="padding"></div>
  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "T.Y.E", root_path, class: "navbar-brand" %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><%= link_to "Classes", classes_path %></li>
        <li><%= link_to "Instructors", instructors_path %></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Events <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to 'Event 1', event_1_path %></li>
            <li><%= link_to 'Event 2', event_2_path %></li>
            <li><%= link_to 'Event 3', event_3_path %></li>
            <li role="separator" class="divider"></li>
            <li><%= link_to 'Event 4', event_4_path %></li>
            <li role="separator" class="divider"></li>
            <li><%= link_to 'Event 5', event_5_path %></li>
          </ul>
        </li>
      </ul>
      
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Contact Us!</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Account <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">View Profile</a></li>
            <li><a href="#">Edit Profile</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Sign Out</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


  
<div class="media">
  <div class="media-left">
    <a href="https://twitter.com/foodie1960">
      <%= image_tag ("brigid.jpg"), class: "brigid" %>
    </a>
  </div>
  <div class="media-body">
  	<div class="padded">
    <div class="panel panel-default">
  		<div class="panel-heading">
    		<h3 class="panel-title">Brigid Murphy RYT 500 Yoga Insctructor</h3>
  		</div>
		  	<div class="panel-body">
		    <p>Brigid discovered yoga in 2006 while studying for her Exercise Science degree at Bloomsburg University in her home state of Pennsylvania. She was initially pulled to yoga due to her interest in health and wellness, and she quickly found that yoga had so much more to offer than great physical benefits. After college, she moved to sunny Florida and found herself embarking on her yoga teacher training journey. She is now a 500+ hour certified teacher, focusing on yin, vinyasa flow and gentle yoga styles.  Through her teaching, Brigid emphasizes the importance of finding balance within our bodies, minds and busy lives. She strives to create a comfortable, welcoming space that allows her students to relax, practice self-care, and experience the inner peace that exists within each of us. She is currently working towards her graduate degree at UNF, and loves to spend her free time exploring and appreciating nature, cooking healthy plant-based meals, and listening to live music.</p>
		  	</div>
		</div>
  </div>
</div>
</div>

<div class="media">
  <div class="media-right pull-right">
    <a href="https://twitter.com/foodie1960">
      <%= image_tag ("steve.jpg"), class: "steve" %>
    </a>
  </div>
  <div class="padded">
  <div class="media-body">
    	<div class="panel panel-default">
  		<div class="panel-heading">
    		<h3 class="panel-title">Steven O’Neal RYT 200 Yoga Instructor</h3>
  		</div>
		  	<div class="panel-body">
		    <p> Steven completed his 200-hour training in the Kripalu tradition at Discovery Yoga in Saint Augustine, Florida, under the guidance of Deva Parnell and Suzanne Tonkinson.  He is also a certified Sky Styx instructor (SSI), receiving training from Christopher Baxter of Inner Sky Yoga. The calling of yoga brought him to the mat and there was an immediate connection to the practice of body, mind and spirit. Yoga has forever changed his life in ways that go beyond expression. Steve views yoga as a “great book” that has no ending. “Each beautiful page leads to the next, each chapter leading to his ever expanding world of yoga”. He is forever a teacher, student and ambassador of yoga, sharing his thoughts and knowledge with all that are open to receive. A veteran, having served over twenty years of dedicated service to the United States military, he hopes to bring Yoga and Sky Styx to the local military. Both active duty and retired personnel can benefit from these applications in their day-to-day stressful lives and transition into the civilian sector, after completion of their dedicated service. Steve’s Yoga and Sky Styx classes are built on safety through stable foundations of strength and confidence. The breath is the key, synchronizing breath with movement leads to a beautiful union between the mind and body and unlocks the body’s full potential.</p>
		  	</div>
		</div>
  
</div>
</div>

<div class="picbox">

      <%= image_tag ("bkrd.JPG"), class: "showcase1" %>
 	

 	 	
      <%= image_tag ("lunar.jpeg"), class: "showcase2" %>
  		

      <%= image_tag ("outsidebarn.jpeg"), class: "showcase3" %>
  
   

</div>













</div>